@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		'liga' 1,
		'calt' 1,
		'cv11' 1,
		'ss01' 1,
		'ss02' 1;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

html,
body {
	@apply bg-white dark:bg-slate-900;
}

article {
	@apply prose prose-lg max-w-prose mx-auto prose-slate dark:prose-invert;
}

kbd {
	@apply font-mono text-sm px-1.5 py-1 bg-slate-100 rounded shadow border border-slate-300 uppercase;
}
